body
{
background-size: cover;
}

.heading{
    width: 100%;
    text-align: left;
}

.heading h3{
    display: inline;
}

.big_image{
    width: 100%;
}

.heading button{
    float: right;
}

#start ,#status{
    font-size: 22px;
}

center h4{
    text-align: left;
}

.footer{
    position:fixed;
   bottom:0;
   width:100%;
   height:60px;  
   background:rgb(97, 102, 104);
   text-align: center;
}